[2022-01-14 09:05] #978 closed

[2022-01-14 13:43] abhinavsingh commented on #978
Did you use `hostname` as `ipaddress` or string?

When passing hostname as `kwargs`, it must be an `ipaddress` object.

What does it complain about?

[2022-01-14 13:46] abhinavsingh commented on #978
Overall, I guess you are simply using it wrong.   I'll recommend you to look into existing code examples instead of hit and trial.  Example, browse the `examples` directory, which provided examples which use `proxy.py` in embedded mode.  Ref https://github.com/abhinavsingh/proxy.py/blob/develop/examples/https_connect_tunnel.py#L54-L70

At-least you can take inspiration about how your application m

[2022-01-14 13:46] abhinavsingh commented on #978
Overall, now I am pretty sure no bug regarding TLS Interception exists, because now we have integration tests running across Python 3.6-3.10.  You can continue using any of supported Python versions if you wish.

[2022-01-14 13:51] abhinavsingh opened #990 "[Integration Tests] Fix flakiness by removing dependency over external hosts"
Currently our integration tests use `httpbin` and other services.  This unfortunately results in flaky behavior where upstream server can throw any kind of error.  We must bake in replica's of upstream services within `proxy.py` test module to replicate upstream services.   Then integration tests will need no internet connection itself.

Example see how upstream server can cause flakiness -- https

[2022-01-14 13:55] abhinavsingh commented on #978
I am not sure how are you running it.  Here are all possible default config methods.  All works fine.  I am on `develop` branch and on Mac (using Python 3.10).  I also verified the same steps on 3.9 too

<img width="1257" alt="Screen Shot 2022-01-14 at 7 24 21 PM" src="https://user-images.githubusercontent.com/126065/149526397-fa1516a6-1d60-40ec-9847-96515d1a7982.png">

Please check your setup.  T

[2022-01-15 21:29] abhinavsingh opened #994 "[HTTPS] Request to internal (https) web server over (https) proxy.py can hang the request"
## Start HTTPS instance for web and proxy components
[code]

## Access internal web server over proxy
[code]

^^^ Randomly hangs

[2022-01-16 10:33] abhinavsingh commented on #642
Hi @webknjaz , I think we are almost there.  Sorry for delaying the formal release.   Probably I can release `3.4.0` and continue with `3.4.x` series.  But there is something I want to wrap before doing that.   Among that is `docs` & `changelog`.

For docs, I wish I don't have to write separate markdown files.  But instead, I want our doc parser to get content out of class or module descriptions.

[2022-01-16 17:13] webknjaz commented on #642
There are different kinds of docs. The autogenerated docs section already does that: https://proxypy.readthedocs.io/en/latest/pkg/proxy.core.work/#module-proxy.core.work.
But for things you want to explicitly expose as public API, use https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#directive-automodule — this example shows RST but in MD you'd need to use the MyST syntax to wrap

[2022-01-16 17:22] webknjaz commented on #642
FWIW I think you should start by (1) splitting README into separate documents and (2) moving the copyright boilerplate out of the docstrings. Maybe with that, it'd become clearer how to structure the docs. And then, maybe you'd use the `.. automodule::` directive in some places.
I must note that all the attempts to put the docs into Python modules fully I've seen have failed. Most projects ditched

[2022-01-17 04:23] abhinavsingh commented on #642
Can you expand on why do they fail.   What's unique about keeping docs out of source code that will makes it click.

How I look at it is, keeping doc/source separate is an overhead.   As a natural habit, I always write doc-strings within source files, including examples/abstracts etc

[2022-01-17 04:24] abhinavsingh commented on #642
Thank you will give this a try.  I want to see how to cut out separate README based upon module doc string.  Then class/function level doc-string continues to serve as internal API doc, while module doc-string can act as end user doc.

[2022-01-17 16:47] sowmya-jaxl opened #999 "`pip install -e .` fails on Windows"
[code]

[2022-01-17 16:49] sowmya-jaxl opened #1000 "[Windows] Proxy fails to start with `OSError: [WinError 10022] An invalid argument was supplied`"
## Workaround

Use `remote` execution mode using `--local-executor 0` flag.

## Exception using default flags

[code]

[2022-01-17 16:56] sowmya-jaxl opened #1001 "[Windows] `--local-executor 0` must be default as local execution fails out-of-box"
See https://github.com/abhinavsingh/proxy.py/issues/1000 for background.

IMHO, `--local-executor 0` must be made default for Windows operating system.

[2022-01-17 19:43] abhinavsingh opened #1004 "[Broken CI] Pin Sphinx to last working version"
- Also fix bad references in doc-string
- Background https://github.com/abhinavsingh/proxy.py/pull/972#issuecomment-1014148973

[2022-01-19 09:40] abhinavsingh commented on #1001
Closing this, as it turned out problem was with `--local-executor` flag logic and not the default value.  See https://github.com/abhinavsingh/proxy.py/pull/1008

[2022-01-19 09:40] #1001 closed

[2022-01-19 09:49] #1000 closed

[2022-01-19 20:05] yswtrue opened #1012 "[Devtools] Build broken due to structural changes in `chrome-devtools` npm package"
I clone latest code from git.
and make devtools get errors.

**To Reproduce**
1. clone from git
2. cd dashboard
3. npm install
4. run `make dashboard`
5. run `make devtools `

**Version information**
 - OS: manjaro
 - Node: v17.3.0
 - npm: 6.14.6

**Additional context**
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-01-20 04:03] abhinavsingh commented on #1012
Devtools might be broken as there are no integration tests.  Neither do I use it on a day to day basis.

I request you to kindly checkout older versions of Devtools, which should be working fine.

Most of these breakages happen due to dependabot automatic dependency updates.  Probably we must disable updates for dashboard.

Also, in future, dashboard will be deprecated.  As maintaining it is a PIT

[2022-01-20 05:01] abhinavsingh commented on #1012
I took a deep look (sorry just woke up back then).  I think you might be missing `npm install`.

I double checked, `make dashboard` doesn't do `npm install` by default.

Let me know, if it works, we must update read me instructions documented [here](https://github.com/abhinavsingh/proxy.py#run-dashboard)

Thank you

[2022-01-20 05:02] abhinavsingh commented on #1004
Fixed in #1002

[2022-01-20 05:02] #1004 closed

[2022-01-20 05:56] abhinavsingh commented on #1012
@yswtrue Further, looks like build is still broken due to changes in `chrome-devtools` NPM package.

I'll send out a fix and also add an integration test for `devtools`.  We have integration for dashboard builds but not devtools yet.

[2022-01-20 06:04] abhinavsingh commented on #1012
jFYI https://github.com/abhinavsingh/proxy.py/pull/1015 fixes the build issue and also adds `devtools` as part of GHA workflows.   At-least we can guarantee that `devtools` build will not go broken again (silently) :D

[2022-01-20 06:16] #1012 closed

[2022-01-20 08:10] yswtrue commented on #1012
I have run `npm install`, I will try it later. Thanks.

[2022-01-20 08:13] yswtrue commented on #1012
I pull the latest code, and it works now.

[2022-01-20 08:46] abhinavsingh commented on #1012
Awesome, thanks for reporting it.

[2022-01-20 10:15] abhinavsingh commented on #980
Are you still facing issues with this?  Please re-open and we can dig into it if necessary.  Thank you.

[2022-01-20 10:18] abhinavsingh commented on #980
One optimization you could do is to queue the packets in chunk i.e. by reading the file in chunk itself.  This should improve performance automagically, as chunk of files are streamed to the client as they are read from the disk.  Use chunked encoded response for responsive client experience.  By queueing a 2Gb file without chunked encoding, there is all of a sudden pressure on the system, trying

[2022-01-20 10:26] abhinavsingh commented on #492
## Update

I checked on a Windows system.  `ProactorEventLoop` was being used by default.  But still we are getting:
- `an operation was attemped on something that is not a socket` (for threadless remote mode)
- `oserror` (for threadless local mode)

Only `--threaded` mode works on Windows (default that one gets when running `proxy` from command line).

PS: Threaded uses `asyncio` internally to ma

[2022-01-20 12:05] yswtrue commented on #1012
But I still can't display traffic inspect

![image](https://user-images.githubusercontent.com/1270490/150335618-018480ae-ac66-4949-976b-ef112965ded0.png)

[2022-01-20 12:22] abhinavsingh opened #1018 "[TlsInterception] Bypass interception for upstreams we are unable to intercept"
Several clients throw `TLSV1_ALERT_UNKNOWN_CA` alert. Example:

- cloudresourcemanager.googleapis.com

Several clients throw `ssl.SSLEOFError EOF occurred in violation of protocol (_ssl.c:997)` alert. Example:

- gateway.icloud.com
- gs-loc.apple.com
- p25-content.icloud.com
- p57-content.icloud.com

Proxy should be able to auto-detect such scenarios and bypass interception for such upstream endpo

[2022-01-20 12:34] abhinavsingh commented on #1012
Yes that can very well happen.  `chrome-devtools` keep changing their internal architecture.  Either we must pin `chrome-devtools` dependency (which we haven't) or someone needs to keep it up-to date.  As I mentioned earlier, there are no integration test for devtool working via dashboard.  Hence it's easy for us to miss such breaking upgrades to `chrome-devtools`.

Irrespective of the UI not load

[2022-01-20 12:38] yswtrue commented on #1012
ok, I will try it.

[2022-01-20 12:39] abhinavsingh commented on #1018
We must also inspect the diff between upstream vs generated certificate.  We must try to copy as much information as possible in generated certificates.  E.g. list of all common names.

[2022-01-20 12:41] abhinavsingh commented on #1012
Hint: Search for "using custom CRDT websocket endpoint with devtools".

As far as I know, devtools support this out of box, so you should achieve success.

Do share your findings with us.  Thank you.

[2022-01-20 21:34] achen353 opened #1026 "[Question] Redirecting HTTP requests to distinct servers"
Hi,

I came across this amazing repo as I sought solutions to reroute HTTP requests from different users to distinct cloud-hosting containers listening on port 80 (one user per container due to the intrinsic limitation of the containerized application).

Essentially, I intend to add logic to identify every new client IP and create a new cloud instance to which the HTTP requests would be redirected

[2022-01-21 07:29] abhinavsingh commented on #1026
hI @achen353 , thanks for trying out `proxy.py`.  Yes, a custom `RedirectToCustomServerPlugin` should would out well for your use case.

## Reason I recommend not to fork
- Fork is equivalent to pinning your pip dependency on `proxy.py` to a specific commit hash
- As a result, by forking, you will loose automatic bug fixes, security patches, core enhancements, community contributions
- With  a`Plu

[2022-01-21 07:34] abhinavsingh commented on #1026
Note that it's also important to understand how clients will communicate with your instance.  Will they use it as a proxy or will they use it as a direct service endpoint.  For the former you will need `RedirectToCustomServerPlugin`, for later you will want `ReverseProxyPlugin`.

[2022-01-21 08:03] abhinavsingh opened #1028 "[Core] Queueing an empty response can hang the connection"
## Hangs

[code]

## Works

[code]

This also happens for `HttpProxyPlugin` when trying to dispatch an empty response.  See #1039 and #1040 for background.

[2022-01-21 14:30] softhub-software-development opened #1032 "[Plugins] Adding Command Line Arguments in Plugins"
In v2.3.1 it was possible to define command line parameter in plugins like the following:

`
flags.add_argument( '--some-arg',  type=str,  default='something',  help='some help text' )
`

In later versions, like v2.4.0.rc6, in case the parameter is used in an embedded scenario,
that is, proxy.main() is called with kwargs, one would need to specially handle arguments in flags.py.

` args.some_arg =

[2022-01-21 14:35] abhinavsingh commented on #1032
@softhub-software-development You most likely ran into https://github.com/abhinavsingh/proxy.py/issues/871

[2022-01-21 14:41] abhinavsingh commented on #1032
Closed as duplicate.  Work around is mentioned in the parent issue.  Kindly use the same.  Happy to see contributions fixing it :D

[2022-01-21 14:43] abhinavsingh commented on #1032
Also see `skeleton` app https://github.com/abhinavsingh/proxy.py/blob/develop/skeleton/app/app.py#L22 which was added as a starter template

[2022-01-21 16:08] softhub-software-development opened #1034 "[PLUGIN] request.path always None in v2.4.0rc7"
Since updating to v2.4.0.rc7, request.path is always set to None:
[code]

[2022-01-21 17:09] abhinavsingh commented on #1034
Please provide a concrete reproducible example.  We have integration and unit test, something like this cannot be missed.  Kindly re-check your code.

[2022-01-22 15:42] Telemattic opened #1039 "ModifyChunkResponsePlugin generates invalid Content-Length and connection error"
Follow the steps in the example usage of ModifyChunkResponsePlugin, but fetch http://httpbin.org/get instead.
Found while exploring a repro for what I think is a related case to #1028

Steps to reproduce the behavior:
1. Run `proxy.py` as `proxy --hostname 127.0.0.1 --plugins proxy.plugin.ModifyChunkResponsePlugin'
2. Verify using `curl -v -x localhost:8899 http://httpbin.org/get`
3. curl prints o

[2022-01-22 15:58] abhinavsingh commented on #1039
You are correct, in prior versions we didn't really bothered to fix the `content-length`.  But this should work in `v2.4.0` series.  Can you try out one of the RC releases?  Now we also have an integration test for `ModifyChunkResponsePlugin` so it should be working fine.

Thanks for reporting this issue.

[2022-01-22 16:29] Telemattic opened #1040 "TLS Intercept breaks ModifyChunkResponsePlugin"
Try to use the ModifyChunkResponsePlugin together with TLS Intercept: while the parts work separately, they don't work together.

**To Reproduce**
Steps to reproduce the behavior:
1. Make certificates, as specified for TLS intercept: `make ca-certificates`
2. Verify that the proxy works for pure TLS intercept:
3.  -- Run `proxy.py` as `python3 -m proxy --ca-key-file ca-key.pem --ca-cert-file ca-ce

[2022-01-22 16:31] Telemattic commented on #1040
Here's a patch that appears to fix the issue. I made `TCPConnection.flush()` not do a send of zero length buffers
[patch.txt](https://github.com/abhinavsingh/proxy.py/files/7918729/patch.txt)

[2022-01-22 17:12] Telemattic commented on #1039
I grabbed 2.4.0rc7 (I grabbed an enlistment from github and did a checkout of the commit with the 2.4.0rc7 tag) and the issue still repros there, the content-length remains 255 in the response with the modified body.

I followed the top-level README instructions for labeled "From command line using repo source". I added a print statement in the plugin to make sure the right plugin was getting pick

[2022-01-22 19:16] abhinavsingh commented on #1039
Remember this is a `chunk response` plugin, why are even seeing a `Content-Length` header at all?  Are you trying to access a non-chunked-response resource here?   Further, we do have integration tests from `Python 3.6-3.10` across all major OS.  So, I am surprised this is broken for you.  How are integration tests working then?

Below is my findings:

1. `make ca-certificates`

2. `python -m prox

[2022-01-22 19:42] abhinavsingh commented on #1039
I looked at the patch and followed the code flow.  Even if for some reason you are getting a `Content-Length` header, real fix should land here https://github.com/abhinavsingh/proxy.py/blob/54e74a911f382656fc49cb57def0c8f29c1b7582/proxy/common/utils.py#L107-L115

`.build_http_response()` is ideally supposed to also update the `Content-Length` header value.  But it doesn't if one already exists.  I

[2022-01-22 19:47] abhinavsingh opened #1041 "`build_http_response` must always update `Content-Length` header"
Reference https://github.com/abhinavsingh/proxy.py/blob/54e74a911f382656fc49cb57def0c8f29c1b7582/proxy/common/utils.py#L107-L115

If a plugin modifies the response without updating `Content-Length` header, client may see errors or at worst hang.  `build_http_response` must ensure that `Content-Length` header matches size of response to be dispatched.

[2022-01-22 19:48] abhinavsingh commented on #1039
Opened

- https://github.com/abhinavsingh/proxy.py/issues/1041

to separately track the `Content-Length` scenario that you helped discover.  Thank you

[2022-01-22 19:58] abhinavsingh commented on #1040
Thank you reporting it.  I remember encountering similar issue when adding integration tests for web server plugin, likely you already discovered https://github.com/abhinavsingh/proxy.py/issues/1028 .  Looks like this bug also effects proxy plugins.  I have updated the bug to highlight the same.

Btw if you are using `https://httpbin.org/drip?duration=2&numbytes=29&code=200&delay=2` for chunked re

[2022-01-22 20:00] abhinavsingh commented on #1040
Answer I posted here actually uses TLS interception.  We also have integration tests under TLS interception mode.  Ref https://github.com/abhinavsingh/proxy.py/issues/1039#issuecomment-1019341908

[2022-01-23 00:07] achen353 opened #1044 "[ReverseProxyPlugin] Cannot Process Too Long Reponses (net::ERR_CONTENT_LENGTH_MISMATCH 200 (OK))"
Hi,

Thank you so much for your help and patience on my previous issue. I am now using `ReverseProxyPlugin` to build my custom reverse proxy plugin. However, I seemed to encounter a similar problem to #292 where the plugin fails to process when the response is too big (like very big)

Here's the message showing the response being cut off when I tried to curl one of the CSS files of my webpage.
[co

[2022-01-23 06:43] abhinavsingh commented on #1044
Please provide a minimal reproducible scenario.   What is "very big"?   There is little `proxy.py` can do if client or server closes the connection.

[2022-01-23 10:02] abhinavsingh opened #1045 "[ReverseProxyPlugin] `Misdirected Request (E2815)` while proxying to upstream https endpoint"
Default plugin values work fine:

[code]

But replacing the url with `https://files.pythonhosted.org/packages/20/9a/e5d9ec41927401e41aea8af6d16e78b5e612bca4699d417f646a9610a076/Jinja2-3.0.3-py3-none-any.whl#sha256=077ce6014f7b40d03b47d1f1ca4b0fc8328a692bd284016f806ed0eaca390ad8` fails the curl invocation with `Misdirected Request (E2815)`

[2022-01-23 10:26] abhinavsingh commented on #1044
Example, provide a public URL which is broken via reverse proxy, then we can dig into it further.  Thank you!!!

[2022-01-23 10:30] abhinavsingh commented on #1045
I think above example is bound to fail anyways.  We shouldn't reverse proxy in the above fashion to begin with.  As request packet dispatched to upstream contains `Host` header originally used by the client.  By default, `ReverseProxy` sends request to upstream as-is, without any modifications.

Fix in #1046 is not correct either in that respect.  We should not change the `Host` header field.  In-

[2022-01-23 10:39] #1045 closed

[2022-01-25 12:16] softhub-software-development commented on #980
I noticed that increasing the DEFAULT_MAX_SEND_SIZE in proxy.common.constants.py from 16k to 128k improves performance significantly.

[2022-01-25 12:43] abhinavsingh commented on #980
@softhub-software-development Thanks for finding this abnormality.  Certainly missed it.  I recently updated `DEFAULT_BUFFER_SIZE`.  Ideally, `DEFAULT_MAX_SEND_SIZE` should also be configurable just like client & server recv buffer sizes.

I have re-opened this ticket to track the same.  Thank you!!!

[2022-01-25 12:45] abhinavsingh commented on #980
@achen353 Kindly check finding by @softhub-software-development , may be it can help you with https://github.com/abhinavsingh/proxy.py/issues/1044 too, can you try and let us know.  Thank you!!!

[2022-01-25 13:13] softhub-software-development commented on #980
Setting the DEFAULT_MAX_SEND_SIZE to 128k results in an error message "OSError when flushing buffer to client". Increasing it from 16k to 64k seems ok.

[2022-01-25 13:29] abhinavsingh commented on #980
Indeed, we cannot send more than what our kernel allows.  This is a setting controlled by `sysctl`, but I don't remember which one exactly :( , will try to look back into it, but just search up and something will show up.

- There might be other OS/Socket level settings which can impact this
- Also, do remember you can always use functionalities available on socket but not in `proxy.py` connection

[2022-01-25 16:21] abhinavsingh commented on #980
https://github.com/abhinavsingh/proxy.py/pull/1060 will add a `--max-sendbuf-size` flag which you can use to customize this value.  Also, now this value defaults to 64 Kb as you experimented.  Will wait for CI and some local laptop runtime before merge.  Feel free to try out directly from PR branch.

[2022-01-25 16:55] achen353 commented on #980
@abhinavsingh Thank you for the advice. I've been attempting to get access to our team's public server for testing. I'll definitely try this out and keep you posted.

[2022-01-26 08:55] abhinavsingh commented on #1028
@Telemattic For the web component it hanged because of missing `Content-Length` or `Connection: close` header.  Fixed it in #1062

I'll also check if this is still the case with proxy components.  IIRC, I did a fix on it somewhere in `v2.4.x` series.  So most likely you encountered it in `v2.3.1` only.  Do confirm if this isn't the case for you.  Thank you!!!

[2022-01-26 09:10] #1028 closed

[2022-01-26 09:16] softhub-software-development commented on #980
I can observe a 50% performance increase by using the data type "bytes" instead of "memoryview" in core.connection.py:

[code]

mv is now a misnomer, of course.

[2022-01-26 09:20] abhinavsingh commented on #980
@softhub-software-development I think real issue is not memory view but this

- https://github.com/abhinavsingh/proxy.py/blob/develop/proxy/core/connection/connection.py#L88-L90

[code]

[2022-01-26 09:20] abhinavsingh commented on #980
+1 to this.  Indeed, I think such optimizations will benefit us greatly

[2022-01-26 09:22] abhinavsingh commented on #980
I think you mean, increase in performance after removing `.tobytes()`, correct.  I agree, we can benefit from this too.

[2022-01-26 09:23] abhinavsingh opened #1063 "[Connection] Optimize flush"
References

- https://github.com/abhinavsingh/proxy.py/issues/980#issuecomment-1022011228
- https://github.com/abhinavsingh/proxy.py/issues/980#issuecomment-1022012726

as observed by @softhub-software-development

[2022-01-26 09:25] abhinavsingh commented on #980
@softhub-software-development Opened #1063 to track `connection` related optimizations.  Thanks a lot for sharing these findings with us :D

[2022-01-27 18:25] abhinavsingh commented on #642
Weirdly, this works with `python -m build` but somehow with `pip install git+https://....` it doesn't seem to respect the custom build backend settings.  At-least there are no css/js artifacts, which are present with `-m build` (inspected the whl)

[2022-01-27 18:50] abhinavsingh commented on #642
Never mind, found my stupidity

[2022-01-27 18:51] webknjaz commented on #642
That _may happen_ if pip is quite old IIRC.

[2022-01-27 18:55] abhinavsingh commented on #642
In my case, it was just a matter of overriding `build_wheel` too along with `build_sdist`.  Due to which

1. pip install /local/path/to/repo (worked)
2. pip install git+http:// (didn't worked)

[2022-01-29 15:19] webknjaz commented on #642
Oh, so you needed to solve building wheels from source without having an intermediate sdist first. Makes sense. I would probably also take into account pre-built files (for building from an sdist that already contains these) — so this step could be skipped if the cache is valid.

[2022-02-10 10:49] saldiray06 commented on #535
is there any way listen 2 ports and bind data to any one of external ip?
Ex:  listen 1881  and 1882
1881 internal port to externals 192.168.10.100:80
1882 internal port to externals 192.168.11.100:80

[2022-02-10 13:09] abhinavsingh commented on #535
`v2.4.0` added `--ports` flag, which can be used to listen on multiple ports.  `--port` flag is still required.  See some info in README

<img width="642" alt="Screen Shot 2022-02-10 at 6 38 59 PM" src="https://user-images.githubusercontent.com/126065/153414735-a9637e76-ec82-4e42-ae0a-d54fd76fe83f.png">

Here is how to use it

`proxy --ports 9000` : Will listen on `8899` (default) and `9000`

[2022-02-10 13:13] abhinavsingh opened #1085 "[Plugin] Expose listening port to plugins"
Under multiport mode, plugins may need to know on which port was the request received/accepted.   This information is currently not surfaced to plugins.   For background also see https://github.com/abhinavsingh/proxy.py/issues/535#issuecomment-1034770059 thread

[2022-02-10 14:03] saldiray06 commented on #535
Great thnx

[2022-02-10 14:45] bmbouter opened #1086 "Register for signals only when running in the main thread"
**Describe the bug**
We have a [simple pytest fixture](https://github.com/pulp/pulp-smash/blob/7660ab7a79d1d2f5b47824b06403e39c142156cc/pulp_smash/pulp3/pytest_plugin/__init__.py#L150) that sets up a proxy.py. Here's a copy/paste of it:

[code]

When running it locally it works perfectly. When running it in the Github Actions CI environment it fails ocassionally, but enough that it's a problem. He

[2022-02-10 14:46] bmbouter commented on #1086
The issue here seems to be on proxy shutdown. What I don't understand is what is introducing threading. We use the generic pytest runner so I don't see how it could be threaded. Does proxy.py use threading in how I'm running it?

[2022-02-10 14:52] bmbouter commented on #1086
Per the docs, I expected it to be using threadless because it's python3.8+ and linux, but maybe it's not? I'm not specifying `--threadless` but maybe I should? How can I confirm which mode proxy.py is running in?

[2022-02-10 16:54] abhinavsingh commented on #1086
Hi @bmbouter , as you discovered, it will run in `--threadless (local)` mode by default.   Under this mode, it will spawn process for acceptors.  Acceptors spawn a single thread for asyncio request handling.

Per this thread https://bugs.python.org/issue38904, `ValueError: signal only works in main thread` is a problem starting from `Python 3.8`.   Likely, `pytest` starts the fixture in a separate

[2022-02-10 18:48] #1086 closed

[2022-02-12 20:54] notatallshaw opened #1089 "Access logs not available on Windows"
**Describe the bug**

Using proxy.py 2.40 on Python 3.10 I do not see access log output on Windows 10 21H2, where as I do on  Ubuntu 20.04.3 LTS.

**To Reproduce**
Steps to reproduce the behavior:
1. Install proxy.py
2. Run "proxy"
3. Run a test connection via the proxy
4. No additional output to stdout is created

**Expected behavior**
Expect to see access logs, such as on Ubuntu where I see the

[2022-02-14 16:24] abhinavsingh commented on #1089
Hi @notatallshaw Thanks for reporting this.   I think something keeps changing between Python versions and it breaks multiprocessing based log handlers.  For now you can simply write a plugin and `print()` from within `on_access_log` method to get the desired result.  I'll check into this on a Windows system.

[2022-02-16 04:51] jinlxz opened #1091 "does it support NTLM authentication when forwarding requests to upstream proxy"
**Check FAQs**

**Is your feature request related to a problem? Please describe.**
I want to use this tool with PAC file to forward HTTP requests to upstream corporate proxy server which uses NTLM authentication,

I started the server with the following command, I think it will fail to authenticate with upstream proxy
[code]
how can I make it?

**Describe the solution you'd like**
currently the pr

[2022-02-17 13:13] bmbouter commented on #1086
@abhinavsingh after a week of observation while our CI uses the commit with the fix, I can confirm we've seen 0 instances of the issue anymore. If you're able to release 2.4.1 that would be much appreciated. Thank you! :heart:

[2022-02-18 08:49] jdelrue opened #1093 "[Make] Unable to build container locally"
**Describe the bug**
Docker image not building

**To Reproduce**
git clone ...
make container

**Expected behavior**
Build of Docker image

**Version information**
 - OS: Ubuntu

**Additional context**
[code]

[2022-02-18 09:13] jdelrue commented on #1093
Did some digging:

- Had to run write-scm-version.sh (is not in the readme)
- Had to change the file write-scm-version.sh
[code]

Had to install some dependencies:

[code]

And I got the container building

[2022-02-18 11:09] abhinavsingh commented on #1093
Thank you for the diff.   Once we integrated GHA container built, local flow was not kept in sync or tested.  I'll update these patches into write scm version.

Note that you can just do `pip install -e .` which is equivalent to everything you had to do before make container.

[2022-02-18 11:13] abhinavsingh commented on #1086
@bmbouter Thank you, I'll make a release over the weekend.  I ran it last night and it failed due to spell check errors :(. Will try over the weekend :)

[2022-02-24 07:42] abhinavsingh opened #1094 "`--pac-file` flag not serving local pac file"
Start as

[code]

Try as

[code]

^^^ Returns 404

[2022-02-25 15:13] vikranth094 commented on #89
Issue is due to check for auth header length is not equal to 2 in  /proxy/proxy.py/proxy/http/proxy/auth.py  , chrome browser might have extra headers ,Please change the code  in /proxy/proxy.py/proxy/http/proxy/auth.py   as a fix,.
`if len(parts) != 2 ` at line 34

After removal of this check, browser auth worked

[2022-02-26 08:26] abhinavsingh commented on #89
@vikranth094 Thank you.  Can you also share what exactly does browser end up sending?   We can use the same as a test scenario too.   You can anonymize any hashes etc.   I am curious what exactly is being sent by browser.

[2022-02-27 01:50] guiqiqi opened #1096 "`FileNotFoundError` while using TLS Interception"
**Describe the bug**
Got this error when using TLS interception:

[code]

**To Reproduce**
With ca files generated by `make ca-certificates` and signed by `make sign-https-certificates`, I got three files:

- `https-cert.pem`
- `https-key.pem`
- `https-csr.pem`

then using nested python code to start proxy.py:

[code]

I'm pretty sure these CA files are exists, but got the exception above and no c

[2022-02-27 05:09] vikranth094 commented on #89
I am not sure about browser, I was working with my android proxy client which had request format "String.format(Locale.ENGLISH, "CONNECT %s:%d HTTP/1.0\r\nProxy-Connection: keep-alive\r\nProxy-Authorization: Basic %sUser-Agent: %s\r\nX-App-Install-ID: %s\r\n\r\n", m_DestAddress.getHostName(), m_DestAddress.getPort(), Constant.auth, ProxyConfig.Instance.getUserAgent(), ProxyConfig.AppInstallID);"

[2022-02-27 05:31] abhinavsingh commented on #89
Thank you for this piece of information.  We'll address it and add necessary tests using your provided example.  I'll try to also repro on an android device.  Best.

[2022-02-27 05:43] vikranth094 commented on #89
Thanks Bro, Really cool project

[2022-03-03 01:14] alexandresgf opened #1098 "[Ask] Proxy pool with external proxies"
Hello,

I'm trying to implement a Proxy Pool using the plugin that is already implemented with a list of external proxies, some of then with inline credentials (they do not work with Authentication header) or whitelisted. My doubt is, for the ones that uses the inline credentials like `user:pass@host:port` how I should pass the credentials to the plugin? Or it already accept the inline credentials

[2022-03-03 07:17] abhinavsingh commented on #1098
Hi @alexandresgf , as-far-as I remember, plugin already supports parsing auth headers from command line.  Reference https://github.com/abhinavsingh/proxy.py/blob/develop/proxy/plugin/proxy_pool.py#L164-L174

Let me know if it is not working as expected.

[2022-03-05 02:10] alexandresgf opened #1101 "[Ask] Trying to parse a response and the proxy just stops"
Hello,

I'm trying to parse the response from `handle_upstream_data` to check its status code. The thing is, when I try to do it, the application just stops to work and nothing happens. Is there anything that I miss?

Here is my code:

[code]
Just the debug logs below...

![Seleção_021](https://user-images.githubusercontent.com/4246277/156863645-e56c1cf1-31a2-4c4b-9ef8-fe7ccae67e2d.png)

[2022-03-05 09:50] abhinavsingh commented on #1101
@alexandresgf Can you share the contents of `raw`.  Ideally, you must check for `parser.state` before considering that complete request has been received.  But if `.parse` is running into in infinite loop, that smells like a bug.  Can you please share the raw packet.  Thank you!!!

[2022-03-07 13:57] bmbouter commented on #1086
@abhinavsingh is releasing the 2.4.1 possible? Thanks!

[2022-03-07 14:02] bmbouter commented on #1086
It's no problem at all. If you have time that would be great. Thank you!

[2022-03-07 21:20] alexandresgf commented on #1101
This is the output of `raw` parameter inside the `handle_upstream_data`:

[code]

This output above appears about 3 times during my tests, then it just stops working.

To print it I used:

[code]

Some images below:

1. Trying to httpbin

![Seleção_022](https://user-images.githubusercontent.com/4246277/157119265-e3c89ef7-c880-40eb-927d-e1efde5bbde0.png)

2. After the method beign called for the 3r

[2022-03-07 22:54] #1101 closed

[2022-03-09 20:14] abhinavsingh commented on #1096
Hi @guiqiqi , Looks like I missed this one somehow.  This error shows up when `proxy.py` is unable to generate certificates.  Can you double check if they exists under the `~/.proxy` folder.  Thank you

[2022-03-12 15:27] topnessman commented on #1096
I'm having the exact same issue. Tried absolute path, relative path, none of them worked and the certs exist 100% on the right path. Please help!

[2022-03-12 16:01] topnessman commented on #1096
Sample log:
[code]

[2022-03-13 16:25] topnessman opened #1103 "How to replace a keyword with another keyword from HTTP response with ManInTheMiddle Plugin"
Could you please add an example to replace a keyword (potentially can be a non-English character) from the HTTP response using the ManInTheMiddle Plugin (with TLS interception enabled)? Looked at the existing examples but still couldn't figure it out. Thanks!

[2022-03-13 16:32] abhinavsingh commented on #1096
This error message can get printed when:
1) Server is unable to generate intermediate certificates for your client, this can happen when underlying `openssl` command fails
2) A common reason for `openssl` command to fail is, CA certificates were re-generated but there are older intermediate certificates (generated using older CA certs) under `~/.proxy/certificates` folder.

In general, we have int

[2022-03-13 16:38] abhinavsingh commented on #1103
The reason you don't see a working example is because man-in-the-middle is tricky.  I only added this facility because of high public demand, but I hardly use it myself for any practical purposes.  Examples are just a starting point on-top of which a full working app can be developed.

Within your MITM plugin, you must:
1) Check for response `content-type`
2) Assemble the response chunks
3) Once y

[2022-03-13 16:40] abhinavsingh commented on #1103
1. Considering most responses are chunked responses nowadays, this example might work out of box for you https://github.com/abhinavsingh/proxy.py/blob/develop/proxy/plugin/modify_chunk_response.py
2. This example actually throws away entire upstream response and sends out it's own hardcoded response.
 This is not how a real-life plugin will work, as is the case with your requirements, hence you'll

[2022-03-13 16:49] topnessman commented on #1096
I somehow worked around this issue by explicitly passing in `--ca-file /etc/ssl/certs/ca-certificates.crt`. Seems like the default path doesn't exist and causes an error. I'm running the proxy.py on raspberry pi os (buster) btw.

[2022-03-13 17:18] abhinavsingh commented on #642
@webknjaz For sometime this has started to fail.  Have you experienced the same across other projects?

<img width="1221" alt="Screen Shot 2022-03-13 at 10 23 28 PM" src="https://user-images.githubusercontent.com/126065/158070265-9b0e1679-f34f-4c86-817c-83a19cf6aff7.png">

Another issue is this works locally and doesn't complaint.   So I am curious whats exactly has gone here.  Looks like this pro

[2022-03-13 17:21] abhinavsingh commented on #1096
@topnessman Thanks for letting us know about this.   Ideally, `--ca-file` defaults to `.venv/lib/python3.10/site-packages/certifi/cacert.pem`.   This should already be under your virtual environment.  Can you double check on this file.   May be for some reason this file is missing on `RPi`?

[2022-03-13 17:54] abhinavsingh commented on #642
Today I am trying to make a release because we had [a fix](https://github.com/abhinavsingh/proxy.py/issues/1086) in 2.4.0.   For some reason `flake8` has started to fail :) due to crazy `bandit` related errors.   Unfortunately, unable to reproduce it locally when I ran `tox -e lint`, though I was able to find references to similar errors here https://github.com/tylerwince/flake8-bandit/issues/21 .

[2022-03-13 18:30] abhinavsingh commented on #642
Looks like removing `~` did the right thing.  Due to dependency tree into `bandit` this was necessary.  Updated here https://github.com/abhinavsingh/proxy.py/pull/1107

[2022-03-13 18:43] abhinavsingh commented on #1086
https://github.com/abhinavsingh/proxy.py/pull/1104 and https://github.com/abhinavsingh/proxy.py/pull/1107 will help us make automated release again.   Looks like it is very important for us to make constant releases.  Long delays can cause CI to randomly fail due to upstream build only dependency changes.

We'll release `2.4.1` shortly.  Best

[2022-03-13 23:44] webknjaz commented on #642
Sorry, I'm a bit preoccupied with the russian fascist terrorists invading my country (see https://github.com/vshymanskyy/StandWithUkraine for more information) and trying to help my mom and one of the brothers get out of the harm's way.

But when I'll have a minute to distract myself from that, I'll try to add comments regarding the problems you've been seeing.

[2022-03-14 06:14] abhinavsingh commented on #642
@webknjaz No worries at all Sviatoslav.  We all stand in support with Ukraine.  I'll also add the badge within our repo here.

PS: I was able to resolve the errors (by upgrading build deps) and made a release yesterday.

[2022-03-15 18:03] bmbouter commented on #1086
This is wonderful, thank you!

[2022-03-20 20:12] topnessman commented on #1103
Thanks for your reply. I've looked at the above three examples but I'm still stuck not being able to decode the bytes back to string in the MITM plugin. I tried using python's `decode()` method which is by default UTF-8, but most of the times there is error saying that `UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte`. How can I correctly get the HTML as

[2022-03-21 02:30] abhinavsingh commented on #1103
You must look into `CacheResponsesByContentType` plugin.   File here https://github.com/abhinavsingh/proxy.py/blob/develop/proxy/plugin/cache/cache_responses.py#L74-L134 .   This plugin is part of cache plugin ecosystem and enabled using flags.   See README for instructions.

Irrespective, the code in here is of your interest.  See how this plugin based upon incoming headers evaluates how to decod

[2022-04-01 08:09] guiqiqi commented on #1096
@abhinavsingh Sorry for late replying, I tried push my CA files inside default path and with given parameter with it, but problem still persist.

Thanks for your developing again.

[2022-04-14 14:37] lyz04551 commented on #536
hi, do we have a boolean command line flag which indicates whether to bypass cert check for self-signed upstreams now? thanks for your replay. @abhinavsingh

[2022-04-15 04:38] abhinavsingh commented on #536
Hi Lyz,

Unfortunately no.  I never got to supporting this officially.  Having said that, I will try to spend sometime coming weekend and see what can we do to get this out quickly.

Thanks for bring this back to my attention.

Best
Abhinav

[2022-04-15 08:36] lyz04551 commented on #536
@abhinavsingh Thank you very much for your timely reply. This project is very meaningful and helpful to my project, so if you updated the code of cert check for self-signed upstreams, please remind me.   Thank you！

[2022-04-19 07:00] LetMeR00t opened #1123 "[Blacklist] Opposite of FilterByClientIpPlugin"
Hello everyone,

First, thank you for this very complete library which brings a lot of features regarding proxy and also quite fast to understand how it works.
I plan to use this proxy in order to restrict the access to several ressources only to specific IPs.
I know you already have the plugin "FilterByClientIpPlugin" but this is used to blacklist specific IPs to access when I would like to do th

[2022-04-19 11:33] abhinavsingh commented on #1123
@LetMeR00t Thanks a lot.   Indeed, your best bet is copy paste the existing plugin and modify for your needs.   Also, IIUC, you probably are thinking that plugins must be within `proxy.py` repo.   If so, that is not the case.

You can keep your plugins private in your own repo.   See [skeleton app example](https://github.com/abhinavsingh/proxy.py/tree/develop/skeleton) for a starter template.

[2022-04-19 11:36] abhinavsingh commented on #1103
@topnessman Closing this for now.  Will `--cache-by-response-type` flag enabled we are already able to spit out response contents.  This kind of proves that content encoding works fine.  We cannot simply assume incoming data will be zip encoded or some fixed format.  Further parsing must be dictated by incoming response headers / encoding.

[2022-04-19 13:04] LetMeR00t commented on #1123
Thank you @abhinavsingh for your quick answer.
Is it something you would be interested to have within a PR regarding this ? I don't like to use a custom version a plugin, I prefer to use builtins plugins :)
If you are interested, I can work on this and propose you a PR.

[2022-04-19 13:46] abhinavsingh commented on #1123
@LetMeR00t Sounds good.  What we can do is:

1) Add a new flag , let's say `--allowed-client-ips` in existing plugin  https://github.com/abhinavsingh/proxy.py/blob/develop/proxy/plugin/filter_by_client_ip.py

2) Update the logic to also accomodate `--allowed-client-ips` flag values.  Idea will be to respect both `--filtered-client-ips` (blacklist) and `--allowed-client-ips` (whitelisted) flags.

F

[2022-04-19 14:28] LetMeR00t commented on #1123
I think it's quite clear.
May I propose you maybe another solution and see which one you prefer?

1. Add a new flag , let's say `--filtered-client-ips-mode` in existing plugin https://github.com/abhinavsingh/proxy.py/blob/develop/proxy/plugin/filter_by_client_ip.py

2. Update the logic to also accomodate `--filtered-client-ips-mode` flag values. The mode could be either "Whitelist" or either "Blac

[2022-04-19 14:35] abhinavsingh commented on #1123
Sounds perfect to me.  Defaults value will also preserve the current behavior.  That will be awesome.  Go for it please  🙏

[2022-04-19 18:50] LetMeR00t commented on #1123
Is it possible to enable login for a plugin ? I've tried to import the logging library but it seems not working or maybe it's because it's handled by one of the acceptor instead of the main script ?
I want to debug the current situation regarding the plugin but I can't get so much information as I can't log what I want :) So I prefer to ask
Thank you

[2022-04-20 11:06] LetMeR00t commented on #1123
May you help me to distinguish "inputs_args" from "opts" for the "initialize" function of the main class Proxy ?
I understood how worked the opts field of course but for the "input_args", it seems to be a list of string.
Is every string must follow the rule "--field value" ? I was expecting a dictionary in fact, not a list of strings :)

[2022-04-20 11:14] abhinavsingh commented on #1123
To add `--my-flag` doesn't need any special treatment.   But, if you want to use `my_flag` as an argument to `Proxy` constructor you will run into `opt` requirement.

Unfortunately, this is still tied into a core file and you will end up fiddling with that file.

A better approach would be to keep using `--my-flag` and pass then as `*args` to constructor instead of `**kwargs`.    All `*args` will

[2022-04-20 11:58] abhinavsingh commented on #1123
@LetMeR00t For core plugins it is ok to inject `opt` treatment into the code.  This is done within `initialize` method here https://github.com/abhinavsingh/proxy.py/blob/develop/proxy/common/flag.py#L94

I started a PR to decouple `opt` and `initialize` from the code.  https://github.com/abhinavsingh/proxy.py/pull/919. Unfortunately I never got back to it.  May be in future soon :)

Let me know.

[2022-04-20 14:05] LetMeR00t commented on #1123
Thank you for your feedback. As you will see, I've made the first version of the PR: https://github.com/abhinavsingh/proxy.py/pull/1127

[2022-04-21 02:08] 13096676951x commented on #231
Hello, I have encountered this problem when I run the code, but my Python is version 3.6.11, can you tell me how you solve this problem? Very grateful for your help

[2022-04-21 07:17] abhinavsingh commented on #231
Can you try to install latest `typing-extension`.   We have GitHub workflow integration and e2e unit and integration tests.   They seem to work fine on `Python 3.6.x`.   Unsure if this is an issue related specifically to `3.6.11`.

I looked into our workflows, looks like GHA uses `3.6.15` , see https://github.com/abhinavsingh/proxy.py/runs/6099188780?check_suite_focus=true

Can you try the same ve

[2022-04-21 10:04] neverusedname commented on #231
I am sorry, that was quite a long time ago, n I don't quite remember how we fixed it. Seems like we were tying to establish our own proxy servers and then later brought some exiting services.
Maybe you wanna try install proxy.py on a Linux machine or just try another proxy service, like mitmweb?

At 2022-04-21 10:08:13, "13096676951x" ***@***.***> wrote:

Hello, I have encountered this problem whe

[2022-04-21 13:18] Thoufak opened #1130 "Can't open the dashboard"
**To reproduce**
1. Run `proxy.py` as `proxy --enable-dashboard --log-level d`
2. Go to http://localhost:8899/dashboard
3. Get 404.

**Expected behavior**
The dashboard opens.

**Version information**
 - OS: macOS
 - Browser: Yandex browser/Chrome
 - Device: MacBook Air
 - proxy.py Version: 2.4.1

**Logs**
[Proxy py logs.txt](https://github.com/abhinavsingh/proxy.py/files/8531298/Proxy.py.logs.txt

[2022-04-21 13:21] Thoufak commented on #1130
Found the solution [here](https://proxypy.readthedocs.io/en/latest/#run-dashboard).

[2022-04-21 13:21] #1130 closed

[2022-04-21 14:51] piraz opened #1132 "Make it possible to have a dynamic reverse proxy"
Let me explain what I understand from the reverse proxy plugin and the reverse proxy implementation.

From the plugin: https://github.com/abhinavsingh/proxy.py/blob/develop/proxy/plugin/reverse_proxy.py#L16-L26. The code above is directing /get to httpbin.org/get either on http or https.

[code]
If I would decide to change the reverse proxy location so everything going through the proxy is matched

[2022-04-21 15:42] abhinavsingh commented on #1132
@piraz Thank you for bringing this to my attention.

Indeed, we need to make reverse proxy more powerful to make it useful in real-world scenarios.   We started adding reverse proxy support when folks came asking for it.  It was added as a starter template and was never well thought-out.

I see two solutions, similar to what you proposed:
1) Add support for automatic matched element replacement in

[2022-04-21 16:26] piraz commented on #1132
Thanks @abhinavsingh. I think for the time being, using the skeleton app would be an option to replace the core ReverseProxy.

Let me try to hack that and I get it you posted if it works.

[2022-04-22 09:36] RoeweYaoo commented on #231
hi, Can u solve it？？？I run a YOLOX train.py met it

[2022-04-27 00:43] EpicBirb opened #1142 "[RaspberryPi] OpenSSL SSL_connect: SSL_ERROR_SYSCALL in connection to httpbin.org:443"
**Describe the bug**
Unable to send request to httpbin.org:443 w/ TLS certificate provided

**To Reproduce**
Steps to reproduce the behavior:

run bellow on host machine
1. run `make ca-certificates` in a folder in the path `/home/pi/proxy.py/certificates/` because that is where I put it
2. i ran `python3 "/home/pi/proxy.py/proxy_start.py"` but you need to run `python3 -m proxy --enable-web-server

[2022-04-27 06:41] abhinavsingh commented on #1142
@EpicBirb Can you check if `certifi` is installed.  A few others have reported that on certain environments, certifi might be missing.   Interception depends upon a CA bundle, provided by `certifi` package.   Let me know.  Thank you

[2022-04-27 21:36] EpicBirb commented on #1142
![image](https://user-images.githubusercontent.com/68750348/165635128-705f9186-46c2-4f25-a012-ba1f625b5f57.png)

[2022-04-27 21:43] EpicBirb commented on #1142
im also getting additional errors here
![image](https://user-images.githubusercontent.com/68750348/165636092-250f3716-4412-48ad-8096-e37339509d3c.png)

[2022-04-28 04:26] abhinavsingh commented on #1142
Cool, so that's not an issue in your case.  You still see the `FileNotFoundError`, which simply means intermediate certificates were not generated.   We know `certifi` exists, as expected this should have brought the CA bundle required for interception.   Other possible causes can be absence of `openssl`.

Are you able to generate certificates on your RPi using `make https-certificates` and simila

[2022-04-28 20:39] EpicBirb commented on #1142
[code]

[2022-05-05 00:35] EpicBirb commented on #1142
Can I get a reply?

[2022-05-05 04:42] abhinavsingh commented on #1142
Sorry, but this may require me to setup a `RPi` for reproducing your scenario.  I don't see any other reason why this ain't working for you.

But since you are already on `RPi`, you can try to debug it locally.   Following lines of code are responsible for generating certificates

https://github.com/abhinavsingh/proxy.py/blob/develop/proxy/http/proxy/server.py#L626-L732

What you can try is, debug

[2022-05-05 04:45] abhinavsingh commented on #1142
I realized you haven't tried `make sign-https-certificates`.   Can you check if that works for you?

[2022-05-05 21:24] EpicBirb commented on #1142
I've edited somewhere near line 701, 687, 672 to include `print(resp)`

Here are the newly generated logs:

[code]

[code]

[code]

I've reran the server again, here are the logs:

Server:
[code]

Client:
[code]

[2022-05-06 04:56] abhinavsingh commented on #1142
I'll recommend to run proxy with debug level logging.   Above is not helpful in debugging still, because we want to see `print(resp)` for a request cycle.   We don't see any `print` statements above for the server logs.

[2022-05-10 14:27] liunx7594 opened #1145 "How to capture complete data"
I spent three hours studying this project, but I still don't quite understand it. It seems that all the data captured are chunks. If I want to capture complete data, what should I do? For example, I can capture response Body? A complete HTML?

[2022-05-10 16:02] abhinavsingh commented on #1145
Try using the following command for starters:

`python -m proxy --plugins proxy.plugin.CacheResponsesPlugin --cache-by-content-type --ca-key-file ca-key.pem --ca-cert-file ca-cert.pem --ca-signing-key ca-signing-key.pem --num-acceptors 1`

Make a few requests and you shall see content under `~/.proxy/cache` directory.   You should see 2 folders:
1. `content` -- Contains parsed `jpg`, `css`, `js`,

[2022-05-10 20:15] KeanuNys opened #1146 "TLS Interception - "FIleNotFoundError" when wrapping client for upstream"
**Check FAQs**
The FAQ describes a similar issue, but I'm not sure that it is the same issue that I have as the error is a bit different ( https://github.com/abhinavsingh/proxy.py#oserror-when-wrapping-client-for-tls-interception )

**Describe the bug**
I've been running into a lot of issues when trying to set up an HTTPS proxy with TLS interception. I want it to run from a python script and am th

[2022-05-10 20:33] abhinavsingh commented on #1146
IMHO cases listed here https://github.com/abhinavsingh/proxy.py#oserror-when-wrapping-client-for-tls-interception are different from what you are seeing.  Looks like `proxy.py` is unable to find a file it is looking for.  I suspect it's openssl based upon the stacktrace.

[2022-05-10 20:34] KeanuNys commented on #1146
I might have a clue what file it can't find after further looking into this.

Looking at the code at the location of the following error: `File "D:\Python39\lib\site-packages\proxy\common\pki.py", line 114, in gen_public_key`
->
[code]
We can see that it gives the "openssl" command and its parameters to the run_openssl_command() function. This function creates a subprocess for the command that was

[2022-05-10 20:35] abhinavsingh commented on #1146
Correct.  If you hardcode path to your `openssl` binary, does it work fine then?  If we, we can add a flag for path to openssl in next push.

[2022-05-10 21:06] KeanuNys commented on #1146
I'll try it out with the full path in the python script calling openssl. So far it doesn't seem to directly work. I'll play around with it a bit and see if I can get it to work.

Will keep you posted.

________________________________
From: Abhinav Singh ***@***.***>
Sent: Tuesday, 10 May 2022, 22:35
To: abhinavsingh/proxy.py ***@***.***>
Cc: Keanu ***@***.***>; Author ***@***.***>
Subject: Re: [a

[2022-05-10 22:57] EpicBirb commented on #1142
I might have revert the print(resp) in the server.py file. I'm going to go back at revert at and run it again, you should see a response within 2 days as such because I think I'm getting sick from my raspberry pi.

[2022-05-11 02:39] liunx7594 commented on #1145
Thank you very much for your guidance. I have successfully captured some test website HTML. A great project.

[2022-05-11 06:36] KeanuNys commented on #1146
Got it to work by replacing `'openssl'` by `'D:\\Program Files\\OpenSSL-Win64\\bin\\openssl.exe'`. After doing this in the pki.py file, the script runs fine :)

The interception works, and the responses are cached correctly using the CacheResponsesPlugin. However, I did notice that some different errors are still created from time to time, but that doesn't seem to impact the websites that I am pro

[2022-05-11 10:58] abhinavsingh commented on #1146
Excellent news.  So we must allow users to override `openssl` path.  I have created a ticket for it.  If you want to take a stab at it and send a PR, let me know, I can guide you through.

About the error you are seeing, looks like they are harmless.  Ref https://stackoverflow.com/questions/51562067/connectionabortederror-winerror-10053-an-established-connection-was-aborted-b

<img width="764" alt

[2022-05-11 10:59] abhinavsingh opened #1147 "[TLSInterception] Allow overriding path to `openssl` binary"
Got it to work by replacing `'openssl'` by `'D:\\Program Files\\OpenSSL-Win64\\bin\\openssl.exe'`. After doing this in the pki.py file, the script runs fine :)

The interception works, and the responses are cached correctly using the CacheResponsesPlugin. However, I did notice that some different errors are still created from time to time, but that doesn't seem to impact the websites that I am pro

[2022-05-12 14:43] abhinavsingh commented on #1145
You are welcome.  Glad it worked and helped you +1

[2022-05-12 14:43] #1145 closed

[2022-05-12 14:53] abhinavsingh commented on #1146
Closing this.  Issue related to `openssl` binary path override will be used to track this feature progress.  Thanks for bringing this to our highlight and all the debugging.  Best

[2022-05-12 14:53] #1146 closed

[2022-05-12 14:55] abhinavsingh commented on #1142
@EpicBirb A similar issue was raised by a Windows user.  For them issue was that `openssl` binary was not in the `PATH`.   They fixed it like so, see https://github.com/abhinavsingh/proxy.py/issues/1146#issuecomment-1123242564

Just curious if you are also seeing same symptoms.  Wanted to mention this here.  Best

[2022-05-20 08:20] nettnikl opened #1155 "[Reverse Proxy] Modify reverse proxy request"
**Is your feature request related to a problem? Please describe.**
I am implementing a reverse proxy which does some stuff to the requests before forwarding. I've tried flask, but i need a solution able to handle big files, so i came here. My project needs to be implemented in python for unrelated reasons.

Currently for debugging purposes i'm modifying `proxy/http/server/reverse.py:89` ff, uncomm

[2022-05-20 08:24] abhinavsingh commented on #1155
IIUC correctly, we are talking about following feature

- https://github.com/abhinavsingh/proxy.py/issues/1132

We'll likely address it in upcoming release, include support for self-signed certificates, ability to provide custom openssl path.  I estimate this to be out next month sometime.   I hope that fits with your project timeline.

[2022-05-20 08:44] nettnikl commented on #1155
Thank you for the quick response.
Next month sounds good for a release - for now, what branch can you recommend to look at for developing a demo?

[2022-05-20 10:06] nettnikl opened #1156 "Document custom auth plugins"
**Is your feature request related to a problem? Please describe.**
I'm trying to setup an authentication to happen before any request is processed. I think subclassing `proxy.http.proxy.auth.AuthPlugin` and loading it using `--auth-plugin` is the way to go here (loading it works actually, it just seems to never get called).
However i cannot even seem to get the basic auth (using the `--basic-auth`

[2022-05-24 05:10] abhinavsingh commented on #1156
Thank you @nettnikl for bringing this to attention.  I'll try add some clarity by updating docs and examples.  Best

[2022-05-24 05:12] abhinavsingh commented on #1155
@nettnikl Unfortunately, there is no current branch.  I believe once onto it, might take a few hours to carve out a developer level APIs for reverse proxy ecosystem.  Till then feel free to hack through it :). I'll try to gather various requirements that folks have added through several issues/discussions and try to encapsulate the same in the APIs

[2022-05-24 05:13] abhinavsingh commented on #1123
v2.4.2 is out now with these enhancements.  Closing this now.

[2022-05-24 05:13] #1123 closed

[2022-05-24 22:17] EpicBirb commented on #1142
If `openssl` wasn't in `PATH`, then I wouldn't be able to execute the command at all. Reference bellow

![image](https://user-images.githubusercontent.com/68750348/170139496-600e4795-0990-440c-ad93-ae73a4c200c4.png)

I've also put back the print(resp) and but the log-level to `d` and reran the script

![image](https://user-images.githubusercontent.com/68750348/170140927-9b4d8fed-ff29-44fe-aaee-69b

[2022-05-24 22:17] EpicBirb commented on #1142
oh yeah, sorry for the late response

[2022-05-26 11:29] cat-policlot opened #1169 "[Cygwin] IS_WINDOWS returns False with `Windows 10`"
When I try to use proxy.py, it gives an error

Tested on:
cygwin python 3.9.10;
windows 10 home edition python 3.10.4

Error in the screenshots

![изображение](https://user-images.githubusercontent.com/44433191/170477448-fe0a8784-bca2-4d06-bd6d-99b335b12155.png)
![изображение](https://user-images.githubusercontent.com/44433191/170477804-3e7c29ee-fa9b-4920-96c4-bece37170e2c.png)

[2022-05-26 13:18] abhinavsingh commented on #1169
Thank you for reporting this.

Under `_env_threadless_compliant` method we automatically disable multiprocessing based execution on windows.  But likely, this function is not picking up that it is running on windows when in cygwin environment.

Some rationale can be found here https://github.com/abhinavsingh/proxy.py#threads-vs-threadless .   Here is that function.  Can you check if this function

[2022-05-26 13:37] cat-policlot commented on #1169
False

True

cygwin

[2022-05-26 14:03] abhinavsingh commented on #1169
There you go, so looks like we need to get this fixed.  I'll push this out this week sometime and cut a new release.  Thank you for reporting this again.

[2022-05-26 17:06] abhinavsingh commented on #1169
@cat-policlot WINERROR 10022 indicates an invalid argument was supplied.  This could happen for a variety of reasons, sometimes outside of `proxy.py` control.  E.g. this can happen if underlying socket was unable to bind to the port, but next we are trying to listen to it.  As far as I remember, there is no assertion check of whether bind succeeded.  We just proceed assuming it did worked.

One th

[2022-05-26 19:07] rpgmaster280 commented on #1132
Script I'm using right now (assuming initially proposed changes) is as follows:

[code]

[2022-05-26 20:01] abhinavsingh commented on #1132
@rpgmaster280 Thanks for the proposal.  This looks pretty close.  I am also thinking that for a given regex, user might be interested in load-balancing between multiple endpoint.  FWIW, I don't even want to anticipate or restrict developers from what they can do once a pattern is matched.

Here is how I am imagining routes type definition might look like:

`List[Tuple[str, Union[List[bytes], Calla

[2022-05-26 21:32] rpgmaster280 commented on #1132
I have some code that's pretty close. Haven't full vetted it yet but it's something like this:

[code]

Line 68 was throwing exceptions for me, so I had to change it to get the proxy to work for me. Lines 71 to 74 are where the actual changes are. I haven't testing this in the case where no regex groups are defined.

[2022-05-26 23:27] rpgmaster280 commented on #1132
Tested the code change above and it seems to work fine. Can't seem to get the tool to work with certificates and ssl though. I believe that to be a separate issue from this one. This solution does not include any sort of user error reporting. Did you want me to do a pull request with the changes?:

![image](https://user-images.githubusercontent.com/13127116/170595269-5a0c3501-7fed-4bfb-8fb4-b07ac2

[2022-05-27 03:21] abhinavsingh commented on #1132
@rpgmaster280 If you want please go ahead and send a PR.  I can then either merge your PR and work on top of it, or simply work on top of your PR itself.  I will try to take a look at it over the weekend.

[2022-05-27 12:31] rpgmaster280 commented on #1132
Note that wild card replacements are slow. It's better to be explicit when using regex substitutions. This should be capture in the documentation. Please see below:

https://docs.bmc.com/docs/discovery/113/improving-the-performance-of-regular-expressions-788111995.html

[2022-05-27 13:20] abhinavsingh commented on #1132
Thank you for the PR.  I'll get into it over weekend.  Likely we can move discussion to PR then onwards for more specifics about regex and callback types

[2022-05-30 04:58] Bradly7412 opened #1175 "WebServer"
Is the webserver option only for localhost?

[2022-05-30 16:46] franz-metamap opened #1176 "Not working behind a domain name"
**Check FAQs**
Please check [Frequently Asked Questions](https://github.com/abhinavsingh/proxy.py#frequently-asked-questions)
before opening a bug report.

**Describe the bug**

**To Reproduce**
1. Run proxy.py locally (i.e. `proxy --hostname=0.0.0.0 --ports=8080`)
2. Run [ngrok](https://ngrok.com/) (i.e. `ngrok http --scheme http 8080`)

**Expected behavior**
3. `curl -v --proxy <ngrok domain>:80

[2022-05-30 21:14] abhinavsingh commented on #1176
@franz-metamap As expressed over gitter chat, proxy servers cannot be run behind new age infrastructures like Cloud Run, Cloud Functions etc.  You will need to deploy VMs or work around the limitations imposed by `proxy by proxy` setup.

[2022-05-30 21:14] #1176 closed

[2022-06-08 17:45] thiagobenine commented on #536
Any update on this?

[2022-06-08 17:54] abhinavsingh commented on #1175
@Bradly7412 Looks like I missed this somehow.  No web server can be access from anywhere.  Use `--hostname 0.0.0.0` to start listening on all interfaces, this will allow access to web server from external hosts too.  Best.

See https://github.com/abhinavsingh/proxy.py#unable-to-connect-with-proxypy-from-remote-host for more info.

[2022-06-08 17:54] #1175 closed

[2022-06-11 17:14] #1132 closed

[2022-06-15 15:52] abhinavsingh opened #1197 "`Proxy` context manager hangs on Windows + Python 3.9"
### Discussed in https://github.com/abhinavsingh/proxy.py/discussions/1195

<div type='discussions-op-text'>

<sup>Originally posted by **q0w** June 15, 2022</sup>
The proposed solution of https://github.com/abhinavsingh/proxy.py/issues/1089 is to add the custom plugin, which prints access logs. In https://github.com/pypa/pip/pull/11091  windows CI has been worked 6 hours and then failed. I think,

[2022-06-15 17:22] abhinavsingh commented on #1197
Based upon this stacktrace from my PR, looks like culprit is `acceptor.join()` line.   Specially on Windows 10, looks like this never completes and hangs the test.  https://github.com/abhinavsingh/proxy.py/runs/6903663466?check_suite_focus=true

<img width="1177" alt="Screen Shot 2022-06-15 at 10 50 33 PM" src="https://user-images.githubusercontent.com/126065/173887697-30012ff7-47e4-487b-ab58-3d98

[2022-06-15 18:18] #1197 closed

[2022-06-15 18:28] abhinavsingh commented on #1169
@cat-policlot jFYI, `IS_WINDOWS` detection was fixed in #1196.  Can you give it a try when you get a chance.

Also were you able to figure out `WINERROR` problem.  Was it simply related to administrative terminal and/or how python/pip is setup locally?   Can you kindly confirm.

Today, I tried `proxy.py` on `Windows 11 + Python 3.9` combination.  And it seemed to work fine.  I routed entires windo

[2022-06-27 14:00] abhinavsingh commented on #642
@webknjaz Hi [Sviatoslav Sydorenko](https://github.com/webknjaz), hope you are doing well.   I recently observed the dist step has started failing.  I am curious if this is something you are observing across other repositories too?

Find below screenshot from one of the recent run.  Somehow the wheel package is missing version info resulting in dist step failure.

<img width="827" alt="Screen Shot

[2022-06-27 17:08] webknjaz commented on #642
Interesting... On line 960 in your screenshot it clearly shows that the wheel that's been generated got a version `0.0` and not the desired one. So it's good that it fails and alerts about a problem.
I don't know why this is happening, though. I suppose that maybe something in your environment has changed. Usually, when this happens, it's because the Git checkout doesn't have sufficient commits to

[2022-06-27 17:15] webknjaz commented on #642
Looks like it may be this bug: https://github.com/pypa/setuptools_scm/issues/727. It seems like v7.0.3 is supposed to get released with a fix some day. The root reason seams to be https://github.com/pypa/setuptools_scm/pull/580 which got into v7+. So maybe just add `,!=7.0.0,!=7.0.1,!=7.0.2` to the version constraints in `pyproject.toml` for now?

[2022-06-27 19:36] abhinavsingh commented on #642
Thank you @webknjaz
You are always a life saver 🙏

[2022-06-28 12:22] gonnsuarez opened #1212 "[Tunnel] Workaround for Proxy Over SSH Tunnel"
I have tried to use the feature Proxy Over SSH Tunnel with:

On the local machine that will be running proxy.py:
[code]

but when I test it with curl in the remote machine that has de ssh server running I get
[code]
And in the local machine running proxy.py with --log-level d it says:
`transport._log:1874 - Ignoring message for dead channel`

**The workaround founded:**

In the exact same conditio

[2022-06-28 15:47] abhinavsingh commented on #1212
@gonnsuarez Thanks for reporting this.  Your 2nd approach is actually what currently works.  But I don't intend to ship this feature in such a manner.

The reason 1st approach doesn't work out of box is because handled connection from remote machines are not treated the same as an incoming HTTP proxy request.   Core reason behind this is lack of proper file/socket object support in `paramiko`.  Th

[2022-06-29 11:11] gonnsuarez commented on #1212
Thanks @abhinavsingh for quiclky answer this thread.

So, to sort out how it works, `paramiko` let you build from low level all the `TCP` interaction needed to create SSH connections, in this case, the `tunnel` without the need of e.g. openssh client installed in the machine, is that right? That's why you want to include this feature inside `proxy.py`, instead of being dependent of openssh?
It wou

[2022-07-12 13:47] EpicBirb commented on #1142
cam back a while waiting for a response but I might found something that seems to be the issue of this.

![image](https://user-images.githubusercontent.com/68750348/178505195-5f6451a4-c6f5-42a0-8a09-db05279417a9.png)

Could that RuntimeWarning be the issue why this isn't working?

[2022-07-12 14:55] abhinavsingh commented on #1142
@EpicBirb If you see contents within `ca-key.pem`, then these are harmless.  I have never seen them as a cause of error.  Certificates are generated just fine, but worth a double check manually :)

[2022-07-13 13:07] abhinavsingh opened #1219 "[Reverse Proxy] Modify requests"
### Discussed in https://github.com/abhinavsingh/proxy.py/discussions/1218

<div type='discussions-op-text'>

<sup>Originally posted by **RjRDRG** July 12, 2022</sup>
Hello,

Is it possible to modify a request body and headers with the reverse proxy plugin?
</div>

[2022-07-13 13:08] abhinavsingh commented on #1219
Reverse proxy plugin ecosystem must also support same lifecycle hooks as those with proxy server plugins.  This will allow plugin developers to also modify request/response objects for reverse proxy requests.

[2022-07-14 18:13] basudip opened #1223 "[Docker] Latest Tag Not Pulling The Latest Image"
When creating the container in ARM device using LATEST tag its not pulling latest stable release. In the time of writing the current stable version is V2.4.3. Docker Hub LATEST tagged image is almost 5 months old and don't have any ARM images.

[2022-07-16 08:48] abhinavsingh commented on #1223
Thanks for highlighting this.  Indeed, pushing multi-arch images to Docker was a left out task.  Can you try GCR which does contain multi-arch images https://github.com/abhinavsingh/proxy.py/pkgs/container/proxy.py

[2022-07-16 11:36] basudip commented on #1223
I think you understood wrong. Docker HUB version do have the multi-arch images. But LATEST Tagged image don't have it. you need to fix the latest tag only. other wise all development version have the multi-arch images.

Latest GCR version points to v2.4.4rc2.dev6. Is that correct? Should not it be points to the last stable release?

[2022-07-17 05:21] abhinavsingh commented on #1223
@basudip Correct.  Issue is our release workflow currently don't push to Docker.   We need to get that fixed.  All releases you see on Docker were made manually by me.

On GCR, we publish every version, not just stable versions.  Hence you will see `.dev6` versions on GCR, as we push to GCR from every PR and when it gets merged into develop branch.

I'll look into how to get Docker releases automa

[2022-07-19 08:17] abhinavsingh opened #1225 "[Reverse Proxy] Client IP Address"
### Discussed in https://github.com/abhinavsingh/proxy.py/discussions/1224

<div type='discussions-op-text'>

<sup>Originally posted by **poerschke** July 17, 2022</sup>
how can I get client ip in an plugin?
for example: i want to collect the client ip in reverse_proxy.py to send to elasticsearch
</div>

[2022-07-30 13:33] #1225 closed, assigned to abhinavsingh

[2022-08-02 20:17] spereg53 commented on #1089
i ahve the same problem with windows 10 and python 3.10 and proxy.py 2.4.3 dist.
please help to solve ,thanks

[2022-08-02 20:18] spereg53 commented on #1089
excuse me it should be:i have the same problem....

[2022-08-04 12:24] Y-GM opened #1242 "ssl.SSLEOFError: EOF occurred in violation of protocol"
System: Windows
Certificate: OpenSSL

Code OpenSSL:
`openssl req -x509 -newkey rsa:4096 -keyout key.pem -out cert.pem -days 365`

Code Proxy :
`proxy --cert-file cert.pem --key-file key.pem`

Error:
[code]

[2022-08-04 21:21] #1242 closed, assigned to nobody

[2022-08-05 06:31] abhinavsingh commented on #1242
@mo161997 Please take a look at this section https://github.com/abhinavsingh/proxy.py#oserror-when-wrapping-client-for-tls-interception Let me know if it helps explain why u r seeing this.  Best

Hint: This likely will not happen if you use `httpbin` but can happen if you are hitting `adobe`, `apple`, specific `google` server endpoints.

[2022-08-05 14:50] rthill91 opened #1244 "Replay from response cache"
This is essentially a followup on #319

A solution was merged into `cache-server` but, so far as I can tell, hasn't ever made its way into develop or a release. Is this a dead/forgotten feature or are there still plans to see that merged?

Thanks

[2022-08-06 17:02] spereg53 opened #1245 "Inspect Traffic via Dashboard"
proxy is working ok ,iwant to use the dashboard,i give the commnad in windows 10:"proxy --enable-dashboard,but not open localhost:889/dashboard;i give permissions to localhost in my configuration of proxy

[2022-08-06 22:47] spereg53 commented on #1245
installed on raspbian buster,but i can´t get traffic information with /dashboard,please help

![screencapture-192-168-100-2-8899-dashboard-2022-08-06-17_40_32](https://user-images.githubusercontent.com/5591045/183268180-ae141655-758b-4106-ab73-fc393a2f06c4.png)
![image](https://user-images.githubusercontent.com/5591045/183268181-9f012f47-685a-463f-a214-372018fd1e0c.png)

[2022-08-07 03:39] abhinavsingh commented on #1245
@spereg53 Dashboard inspect traffic is known to work fine in Mac environment.  Sorry, but I have never tested it in Windows.  Also, note that, dashboard is a WIP, so it might not always work as expected.   Specially, because chrome dependency keeps upgrading, chances are chrome dev tools integration (UI only) might be broken.

You can simply enable inspection and then point your chrome dev tools t

[2022-08-07 03:45] abhinavsingh commented on #1244
There are 2 separate things:

1) Cache server for production usage
2) Cache replay only during tests

Afaik, 2) can be achieved and already exists in some form.  Sorry, I haven't tested or used this myself in a long time.  See https://github.com/abhinavsingh/proxy.py/blob/85ad44b46eb81db64dc06fbf289151180bd68aad/proxy/testing/test_case.py#L78 and https://github.com/abhinavsingh/proxy.py/blob/85ad4

[2022-08-07 14:04] spereg53 commented on #1245
image of dev tools of chrome:
[image: image.png]

ING.SERGIO M.PEREZ GORDILLO
CALLE DE CHAMULA #21
COL.LA LOMITA;C.P.29060
TUXTLA GTZ.CHIAPAS,MEXICO
TEL:019612640373 y
019611214526
CELULAR:9612015537
***@***.***
***@***.***

El sáb, 6 ago 2022 a la(s) 22:39, Abhinav Singh ***@***.***)
escribió:

[2022-08-08 18:03] rthill91 commented on #1244
My hope was to use proxy.py to cache all responses during an end-to-end testing session, and then to be able to re-use those responses for subsequent test runs.

Essentially what vcrpy does, except I have requests coming from multiple processes.  As near as I can tell, the cache responses plugin records the responses but has no way of replaying them later. The `cache-server` branch does, but hasn'

[2022-08-09 04:23] abhinavsingh commented on #1244
@rthill91 You are correct.  Looking at the code here, I realize `VCR` facility only enables cache responses plugin, which by itself is not responsible for replaying the responses.

Ref
https://github.com/abhinavsingh/proxy.py/blob/85ad44b46eb81db64dc06fbf289151180bd68aad/proxy/testing/test_case.py#L77-L83

Can you point the code in `cache-server` branch which is responsible for replaying the cache

[2022-08-09 10:51] gonnsuarez commented on #1212
Hi @abhinavsingh, I'm wondering if maybe you were able to make some advance in this problem with paramiko and tunneling?
I've tried some workarounds with subprocess, pexpect, wexpect, and those kind of python modules and it's not easy to make a propper handling of the command outputs, specially errors. So I understand even more the importance of including these feature with paramiko instead of thi

[2022-08-09 11:27] eherrerosj opened #1248 "Flowchart for better proxy plugin documentation"
The objective of this issue is to ease the understand of the process for building new proxy plugins.

**Is your feature request related to a problem? Please describe.**
I have to go to check the internal source code every time I need to figure out in what order the proxy functions are executed.

**Describe the solution you'd like**
Having a flowchart explaining the sequence of functions that reque

[2022-08-10 11:10] gonnsuarez commented on #1212
Founded that launching the reverse tunnel provided by this example in an independent Thread appears to work for now,

https://github.com/paramiko/paramiko/blob/main/demos/rforward.py

Not sure if it is the best solution, I will continue testing it

[2022-08-10 14:15] abhinavsingh commented on #1212
@gonnsuarez Totally.  You are correct.  One can simply perform a manual setup and use paramiko base examples to achieve the necessary result.  With respect to `proxy.py`, my idea was to not develop a standalone solution for tunnel.

For that to work, paramiko socket objects must be integrated with proxy.py core.  Unfortunately, proxy.py core is async while paramiko only provide support for file-li

[2022-08-10 14:17] abhinavsingh commented on #1248
@eherrerosj Thank you for raising this concern.  Indeed a better diagram will help put things into perspective.  Currently there is an outdated ASCII art and bunch of ipynb tutorials.  I'll look into it and come up with something useful.

[2022-08-11 07:53] abhinavsingh commented on #1155
@nettnikl https://github.com/abhinavsingh/proxy.py/pull/1252 will add support for modifying the request object before the request gets routed.  Give it a try when you can.  Let me know if this isn't working as expected.  Best

[2022-08-11 08:22] #1155 closed

[2022-08-11 08:22] #1219 closed, assigned to abhinavsingh

[2022-08-13 07:04] abhinavsingh commented on #1147
@KeanuNys PR https://github.com/abhinavsingh/proxy.py/pull/1257 will add ability to override path to openssl binary using the `--openssl` flag.  Thanks again for reporting this.

[2022-08-13 07:13] #1147 closed

[2022-08-13 07:16] abhinavsingh commented on #1169
@cat-policlot Closing this since `IS_WINDOWS` detection was fixed in #1196.  However, I haven't had a chance to try it out yet.  Someone with access to Cygwin must verify the fix.   Please reopen/contribute if there is bug in this detection.  Thank you

[2022-08-13 07:16] #1169 closed

[2022-08-13 07:18] abhinavsingh opened #1258 "[ReverseProxy] Add support for `--basic-auth` in reverse proxy server"
Currently `--basic-auth` is not supported for reverse proxy server.   Originally requested here https://github.com/abhinavsingh/proxy.py/issues/1156#issue-1242922856

[2022-08-13 07:19] abhinavsingh commented on #1156
Revisiting this today.  jFYI, reverse proxy doesn't support any sort of auth yet.  Good point.  I have created https://github.com/abhinavsingh/proxy.py/issues/1258 to track it separately

I'll close this down after adding documentation for auth plugin setup.   Now that I read your ticket again, I understand you are probably looking for auth within reverse proxy, which is officially not implemented

[2022-08-21 20:48] #1142 closed

[2022-08-25 18:20] changbowen commented on #1096
Same issue here:
When I do `curl -v --cacert ca-cert.pem -x 127.0.0.1:8899 https://httpbin.org/get`, first I see `Proxy CONNECT aborted`. I did `pip install certifi` in the container, the error changed to `OpenSSL SSL_connect: SSL_ERROR_SYSCALL in connection to httpbin.org:443`. In the container log there are exceptions that says `FileNotFoundError: [Errno 2] No such file or directory: 'openssl'`.

[2022-08-28 07:07] jealvin opened #1265 "Adding Custom Headers for Proxy-Authorization"
request for adding custom header when doing auth

Proxy-Authenticate: `Basic realm="Proxy.py Server"`

so it will show the message "Proxy.py Server" when request username and password

reference : https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Proxy-Authenticate

[2022-09-03 07:38] abhinavsingh commented on #1265
I know this can be added in the core itself.  But in the meantime, one option is to achieve this using your own custom `AuthPlugin` plugin.   Simply, copy over existing `AuthPlugin` and modify it as per your needs.  The enable your auth plugin using the `--auth-plugin` flag.  Default plugin raises `ProxyAuthenticationFailed` exception which internally returns a hardcoded `PROXY_AUTH_FAILED_RESPONS

[2022-09-04 22:44] larsks opened #1267 "Security: Bypass proxy authentication with HTTP/1.0 requests"
**Describe the bug**

It is possible to bypass proxy authentication by sending an HTTP/1.0 request with no request headers.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `proxy.py` as `proxy --basic-auth user:secret`
2. Run the following Python code:
[code]
4. See that the proxy accepts the request and returns the remote
   content.

You can reproduce this yourself like this:

[code]

[2022-09-06 16:03] abhinavsingh commented on #1267
@larsks Unsure if this has started happening after any recent commit or has this been always the case.  Nevertheless, thanks for reporting this.  Really appreciate it.  I'll get this out fixed soon.  Best.

[2022-09-08 12:27] tawmoto opened #1268 "TLSV1_ALERT_UNKNOWN_CA alert when using self-signed certificates for examples"
Hi,
I want to set proxy.py with end-to-end-encryption.

I cloned the repo and I did this:
[code]
then this
[code]

and when I try to connect to it via `curl` nothing happens
[code]

and when i try with another software, i get this
[code]

**Version information**
 - OS: Ubuntu 20.04
 - proxy.py Version 2.4.3

thank you

[2022-09-09 03:47] qq516249940 opened #1269 "why use benchmark can not work"
**os**
VERSION="20.04.4 LTS (Focal Fossa)"
proxy 2.4.3
python3.8

**Describe the bug**
why use benchmark can not work.

**Describe the bug**
only this Info
[code]

[2022-09-17 07:47] kata62 opened #1270 "ERR_TUNNEL_CONNECTION_FAILED"
ERR_TUNNEL_CONNECTION_FAILED

[2022-09-23 01:45] vulnerablesticka opened #1271 "Reverse proxy plugin to support WebSockets"
**Is your feature request related to a problem? Please describe.**

Currently, the reverse proxy plugin setup doesn't support proxying over websocket connections. This means proxy.py is unsuitable for applications that require websocket and http functionality (for example, JupyterLab).

**Describe the solution you'd like**

Inbuilt support for websocket connections through the reverse-proxy plugin

[2022-09-23 18:09] abhinavsingh commented on #1271
@thatsheepishcoder Thanks for raising this.  I have been trying to pull in full proxy-server style support within reverse-proxy chain.  This will likely land in the next release.

[2022-09-28 07:52] abhinavsingh commented on #642
@webknjaz I have run into fever this past week :(.  Just wanted to leave an update that I'll take a look at windows related issues _(sorry, I lost track of original issue where you last commented, so posting an update here)_ over the coming weekend.  Best.

[2022-09-29 21:53] dmitriyvolk opened #1273 "Unable to modify headers in a plugin"
**Check FAQs**
* [x] Please check [Frequently Asked Questions](https://github.com/abhinavsingh/proxy.py#frequently-asked-questions)
before opening a bug report.

**Describe the bug**
Wrote a simple plugin to add headers to the proxied request. Plugin is loaded, executed, but has no effect

[code]

Request:
[code]

Log
[code]

HTTP Bin response:
[code]

**Expected behavior**
1. I expect `Curl-Heade

[2022-09-30 00:22] dmitriyvolk commented on #1273
Not an issue. I'm making an HTTPS request, of course the proxy can't see the headers.

[2022-09-30 00:22] #1273 closed, assigned to abhinavsingh

[2022-10-01 15:32] leoleelili opened #1274 "proxy acceptors in embed non-block mode terminated unexpectedly"
I am trying to use proxy.py in embed non-block mode to help collect data from web, however I found it can only work with non-embedded mode but failed with embedded mode.

Below is my test code (run on windows10, python 3.7.9, proxy.py v2.4.3, the code is revised from the article https://webelement.click/en/four_simple_steps_to_add_custom_http_headers_in_selenium_webdriver_tests_in_python)

    fro

[2022-10-13 03:33] dmitriyvolk opened #1279 "Reverse proxy ignores ca_file"
**Check FAQs**
Please check [Frequently Asked Questions](https://github.com/abhinavsingh/proxy.py#frequently-asked-questions)
before opening a bug report.

**Describe the bug**
Reverse proxy ignores the `ca_file` argument.

When the reverse proxy calls `upstream.wrap()` (https://github.com/abhinavsingh/proxy.py/blob/develop/proxy/http/server/reverse.py#L97) it omits the `ca_cert` argument. Therefo

[2022-10-13 03:34] dmitriyvolk commented on #1279
The PoC PR https://github.com/abhinavsingh/proxy.py/pull/1280 makes it work as expected.

[2022-10-13 13:27] nicknotfun commented on #1271
Just checking in on this actually, ran into the same limitation?

[2022-10-31 00:25] EpicBirb commented on #1268
(mind my horrific grammar and spelling, sorry not sorry)

sorry if im late but heres a fun fact _dont trust everything you read_

i already experienced what you had mate and its not fun

use this Makefile instead: you may inspect it if you want
make sure to set the variables for HOSTNAME and SUBJECT (ive alerady have it in the code below, just replace <insert hostname> with the server the proxy is

[2022-10-31 04:39] abhinavsingh commented on #1268
@EpicBirb @tawmoto I guess `TLSV1_ALERT_UNKNOWN_CA` is expected for self signed certificates?  `proxy` uses a CA file for verification.   It defaults to `certifi/cacert.pem` but you can also override it by using `--ca-file` flag.

[2022-10-31 20:41] EpicBirb commented on #1268
maybe i will try that because i have been fiddling around by setting up end to end encryption without passing the --proxy-cacert flag to curl

[2022-10-31 20:57] EpicBirb commented on #1268
![image](https://user-images.githubusercontent.com/68750348/199109147-c7c2021d-d09a-48a5-b08d-c7df5898c614.png)
![image](https://user-images.githubusercontent.com/68750348/199109176-88a0374f-dc61-4220-918c-be91333ded96.png)

looks like overriding it didn't work

[2022-10-31 21:07] tawmoto commented on #1268
@abhinavsingh thank you for the reply.
I just want to connect to a server, any server, via  proxy.py https.

So smth like this
`curl -V -x <proxy.py https server> --proxy-cacert https-cert.pem https://httpbin.org/get`

Can you tell me the exact steps i can achieve this in the simplest possible way?

Thank you

[2022-10-31 21:17] EpicBirb commented on #1268
scrap that i had the wrong hostname and subject

[2022-10-31 21:26] EpicBirb commented on #1268
the more i look the more i regret

![image](https://user-images.githubusercontent.com/68750348/199113608-0f0f6cb8-116c-4d42-ad48-1a8a7f18a119.png)
![image](https://user-images.githubusercontent.com/68750348/199113632-f68712ff-32c5-4b5d-ad8f-505f0bb3b0d4.png)

[2022-11-01 05:59] abhinavsingh commented on #1268
1. What do you get with `curl` and `--proxy-cacert https-cert.pem` flag?
2. Simplest is to trust your certificate in your system keychain, which will then make this work without a flag.

Let me know

[2022-11-01 11:33] tawmoto commented on #1268
@abhinavsingh I am trying to follow the instructions on your site, exactly

so on the server side I get
[code]
client side
[code]
btw I am using the `master` branch

Unfortunately, his is not an option for me, I have to test that my product works with a custom certificate set by my customers

[2022-11-01 14:14] abhinavsingh commented on #1268
@tawmoto Can you please also try with the `develop` branch once.

PS: TLS decryption for `httpbin.org` is part of our integration test suite.  Every code merged in `develop` passes these tests that you are trying.  So, I believe its mostly about setup issues.

Meanwhile, I'll also try to double check on it locally once.

[2022-11-01 14:22] tawmoto commented on #1268
@abhinavsingh yep, works perfectly now, after using `develop`, thanks
[code]

thanks a lot!

[2022-11-01 14:57] abhinavsingh commented on #1268
@tawmoto I'll archive/delete the `master` branch as I no longer try to keep it upto-date.  Sorry for the inconvenience.  Happy it worked out for you :)

@EpicBirb could you also try with `develop` and confirm.   Please re-open if issue still persists.

[2022-11-01 14:57] #1268 closed, assigned to abhinavsingh

[2022-11-01 15:02] tawmoto commented on #1268
@abhinavsingh thanks
Maybe work on master, usually master is the main branch, but it's your call, ofc :)

[2022-11-01 20:38] EpicBirb opened #1292 "cont: TLSV1_ALERT_UNKNOWN_CA alert when using self-signed certificates for examples"
#1268

still not working with the same error
![image](https://user-images.githubusercontent.com/68750348/199336188-171fff31-d534-49fb-a3eb-4edbf1afdb8d.png)

[2022-11-17 10:29] theol-git commented on #535
Here is a monkey-patch i added to be able to select an interface by name in the plugin:

[code]

Here is the code for the plugin:

[code]

`interface_name` is a string of the interface's name (ex: eth1)

[2022-11-27 06:27] yanxurui opened #1298 "High CPU usage in idle state on Intel Mac when using Python3.8"
**Check FAQs**
Checked.

**Describe the bug**
I started the proxy from command line in my mac and noticed the CPU usage of the acceptor is very high even though there is zero load. Seems there is a while loop running inside the process?

**To Reproduce**
Steps to reproduce the behavior:
1. clone the repo
2. install depedencies
3. checkout to v2.4.3
4. python -m proxy --num-acceptors 1 --hostname 0

[2022-11-27 06:29] abhinavsingh commented on #1298
Thanks for reporting.  This is unusual.  I'll look into it today.

[2022-11-27 06:33] yanxurui commented on #1298
Thanks for the quick response. Without specifying `num-acceptors`, 4 acceptors will be launched and each of them are comsuming 70%~100% of a core, making the fan of my Mac work crasily. This can also be reproduced in the develop branch.

[2022-11-27 11:55] abhinavsingh commented on #1298
So I am using `develop` branch and used flags as you passed.  I made a few requests through `proxy.py` and now I am using it for my entire `MacOS` system.

Below is a screenshot and video from the same duration

<img width="1437" alt="Screenshot 2022-11-27 at 5 21 17 PM" src="https://user-images.githubusercontent.com/126065/204133757-1e2a3b1e-daaa-4a84-9720-724dd78e9dd1.png">

https://user-images.

[2022-11-27 12:12] yanxurui commented on #1298
Thanks. I am using an old mac
<img width="698" alt="Screen Shot 2022-11-27 at 20 10 11" src="https://user-images.githubusercontent.com/12461110/204134541-5d10e239-062e-4da6-97c0-d42a7b6e69b9.png">

It looks good when I use Python 3.10.2

[2022-11-27 12:14] abhinavsingh commented on #1298
@yanxurui Awesome, thanks for confirming the same.  I do have an older model in office :).  I'll give a try on it tomorrow and share my findings.